{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url({{asset('frontend/images/hero/IMG-20231127-WA0142_adobe_express.png')}});">
                                <div class="content">
                                    <h2><span>Tecnologia innovadora</span>
                                        Smart Fingers
                                    </h2>
                                    <p>Control por movimiento aereo adaptado a la mano humana.</p>
                                    <h3><span></span></h3>
                                    <div class="button">
                                        <a href="{{path('app_tienda')}}" class="btn">Comprar ahora</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url({{asset('frontend/images/hero/IMG-20231128-WA0185_adobe_express.png')}});">
                                <div class="content">
                                    <h2><span>Tecnologia innovadora</span>
                                        Smart Fingers
                                    </h2>
                                    <p>Libertad de movimiento para manejar los dispositivos a distancia.</p>
                                    <h3><span></span></h3>
                                    <div class="button">
                                        <a href="{{path('app_tienda')}}" class="btn">Comprar ahora</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="background-image: url({{asset('frontend/images/hero/')}});">
                                <div class="content">
                                    <video width="320" height="240" controls autoplay>
                                        <source src="{{asset('frontend/video/VID-20240320-WA0005 (1).mp4')}}" type="video/mp4">
                                        Tu navegador no soporta el elemento de video.
                                    </video>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Oferta!</h2>
                                    <p>Ofrecemos un descuento del 10% en pedidos de mas de 50 unidades para empresas.</p>
                                    <div class="button">
                                        <a class="btn" href="{{path('app_tienda')}}">Comprar ahora</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>¿Quienes somos?</h2>
                        <p>Smarth Fingers S. de R. L, es una empresa innovadora con sede en el Puerto de veracruz, Mexico, dedicada a la fabricacion y comercializacion de pulseras de anillos que funcionan como mouses inalambricos. nuestros productos ofrecen una solucion unica para usuarios que buscan una forma mas comoda y eficiente de interactuar con dispositivos electronicos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mission section" style=" padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Nuestra Misión</h2>
                        <p>Diseñar productos de vanguardia que permitan un control intuitivo de los dispositivos digitales, mejorando la productividad diaria de los jovenes estudiantes y personas que pasan largas horas frente a pantallas, esforzándonos por brindarle soluciones ergonómicas de alta calidad y un servicio excepcional.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vision section" style=" padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Nuestra Visión</h2>
                        <p>Ser empresa lider en la fabricacion y venta de dispositivos ergonómicos y tecnológicos en Veracruz, siendo reconocida por su compromiso inquebrantable con la comodidad y la salud de los usuarios de dispositivos tecnológicos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sección de Valores -->
    <section class="values section" style="padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Nuestros Valores</h2>
                        <!-- Lista de valores -->
                        <ul>
                            <li>
                                <div class="media-icon">
                                    <i class="lni lni-checkmark-circle"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Honestidad</h5>
                                </div>
                            </li>
                            <li>
                                <div class="media-icon">
                                    <i class="lni lni-heart"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Calidad</h5>
                                </div>
                            </li>
                            <li>
                                <div class="media-icon">
                                    <i class="lni lni-star"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Diferenciación</h5>
                                </div>
                            </li>
                            <li>
                                <div class="media-icon">
                                    <i class="lni lni-leaf"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Sostenibilidad</h5>
                                </div>
                            </li>
                            <li>
                                <div class="media-icon">
                                    <i class="lni lni-users"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Responsabilidad Social Corporativa</h5>
                                </div>
                            </li>
                            <!-- Añade más valores según sea necesario -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="producto section" style=" padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Nuestro Producto</h2>
                        <p>Smart Fingers permite que el usuario tenga espacio en su zona de trabajo sustituyendo los mouses.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{{asset('frontend/images/hero/IMG-20231128-WA0185_adobe_express.png')}}" style="height: 100;" alt="#">
                            <div class="button">
                                <a href="{{path('app_tienda')}}" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">Watches</span>
                            <h4 class="title">
                                <a href="product-grids.html">Smart Fingers</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>
                            <div class="price">
                                <span>$199.00</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
{% endblock %}
