{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    {{parent()}}
     <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Producto unico</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{{path('app_inicio')}}"><i class="lni lni-home"></i> Home</a></li>
                        <li>Producto unico</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    {# Mostrar mensajes flash con un alert #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
                alert('{{ message|e('js') }}');
            </script>
        {% endfor %}
    {% endfor %}

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img src="{{asset('frontend/images/product-details/IMG-20231127-WA0142_adobe_express.png')}}" id="current"  height="500" alt="#">
                                </div>
                                <div class="images">
                                    <img src="{{asset('frontend/images/product-details/IMG-20231127-WA0143_adobe_express.png')}}" class="img" height="" alt="#">
                                    <img src="{{asset('frontend/images/product-details/IMG-20231127-WA0145_adobe_express.png')}}" class="img" height="" alt="#">
                                    <img src="{{asset('frontend/images/product-details/IMG-20231127-WA0146_adobe_express.png')}}" class="img" height="" alt="#">
                                    <img src="{{asset('frontend/images/product-details/IMG-20231128-WA0185_adobe_express.png')}}" class="img" height="" alt="#">
                                    <img src="{{asset('frontend/images/product-details/Imagen4.jpg')}}" class="img" alt="#">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">Smart Fingers</h2>
                            <p class="category"><i class="lni lni-tag"></i> Mouse:<a href="">Raton/Control por movimiento aéreo adaptado a la mano humana.</a></p>
                            <h3 class="price">$500<span>$500</span></h3>
                            <p class="info-text"></p>
                            <form method="post" action="{{path('add_to_cart')}}">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group color-option">
                                            <label class="title-label" for="size">Color</label>
                                            <div class="single-checkbox checkbox-style-1">
                                                <input type="checkbox" id="checkbox-1" checked>
                                                <label for="checkbox-1"><span></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group quantity">
                                            <label for="cantidad">Cantidad</label>
                                            <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="100" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content">
                                    <div class="row align-items-end">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="button cart-button">
                                                <button type="submit" class="btn" style="width: 100%;">Agregar al carro</button>
                                            </div>
                                            <br/>
                                            <div class = "button">
                                                <a href="{{path('carro_compra')}}" class="btn btn-secondary">Ir al carrito</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Detalle producto</h4>
                                <p> Pulsera de anillos que funciona como mouse inalámbrico. La pulsera
                                    está hecha de plástico a base de filamento de policarbonato y se conecta a los
                                    dedos con anillos mediante cables siliconados. En la base de la pulsera se
                                    encuentra una pequeña caja (hecha de filamento de policarbonato) que contiene
                                    el microcontrolador BLE, giroscopio, acelerómetro, magnetómetro, una batería
                                    recargable y un puerto para USB Micro. Los anillos son de velcro y tienen unos
                                    pequeños botones que van en la parte interior del dedo y que funcionan como
                                    clic derecho e izquierdo, así como un botón extra para permitir o no el
                                    movimiento del cursor en la pantalla del dispositivo.</p>
                                <h4>Color</h4>
                                <ul class="features">
                                    <p>La pulsera de filamento de policarbonato, los cables siliconados y los
                                        anillos de velcro son de color negro mientras que la pequeña caja en la base de
                                        la pulsera es de color amarillo.</p>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                <h4>Tamaño</h4>
                                <ul class="normal-list">
                                    <!-- <li><span>Weight:</span> 35.5oz (1006g)</li>
                                    <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
                                    <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
                                    <li><span>Operating Frequency:</span> 2.4GHz</li>
                                    <li><span>Manufacturer:</span> GoPro, USA</li> -->
                                    <p>El tamaño del producto es unitalla (para una mano de adolescente y adulta) ya que la pulsera y los anillos son ajustables.</p>
                                </ul>
                                <h4>Empaque</h4>
                                <ul class="normal-list">
                                    <!-- <li><span>Courier:</span> 2 - 4 days, $22.50</li>
                                    <li><span>Local Shipping:</span> up to one week, $10.00</li>
                                    <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                    <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li> -->
                                    <p>El producto viene empaquetado en una caja de cartón biodegradable
                                        con ventanas transparente de acetato. En el interior de la caja se encuentra el
                                        producto asegurado con pequeños sujetadores de plástico además de un
                                        instructivo, póliza de garantía y el cargador. En el exterior se encuentran
                                        impresos el logotipo y marca, la imagen del producto, las características claves,
                                        información del contacto y el código de barras.</p>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- Review Modal -->
    <div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-name">Your Name</label>
                                <input class="form-control" type="text" id="review-name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-email">Your Email</label>
                                <input class="form-control" type="email" id="review-email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input class="form-control" type="text" id="review-subject" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-rating">Rating</label>
                                <select class="form-control" id="review-rating">
                                    <option>5 Stars</option>
                                    <option>4 Stars</option>
                                    <option>3 Stars</option>
                                    <option>2 Stars</option>
                                    <option>1 Star</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review</label>
                        <textarea class="form-control" id="review-message" rows="8" required></textarea>
                    </div>
                </div>
                <div class="modal-footer button">
                    <button type="button" class="btn">Submit Review</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Review Modal -->

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        const current = document.getElementById("current");
        const opacity = 0.6;
        const imgs = document.querySelectorAll(".img");
        imgs.forEach(img => {
            img.addEventListener("click", (e) => {
                //reset opacity
                imgs.forEach(img => {
                    img.style.opacity = 1;
                });
                current.src = e.target.src;
                //adding class 
                //current.classList.add("fade-in");
                //opacity
                e.target.style.opacity = opacity;
            });
        });

        {# $(document).ready(function() {
        $('#add-to-cart-button').on('click', function() {
            // Recopilar datos del formulario
            var formData = {
                product_id: $('input[name="product_id"]').val(),
                color: $('input[name="color"]:checked').val(),
                cantidad: $('#cantidad').val()
            };

            // Enviar los datos al backend usando AJAX
            $.ajax({
                url: '{{ path("add_to_cart") }}', // Symfony route
                method: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    // Manejar la respuesta del servidor
                    alert('Producto agregado al carrito!');
                },
                error: function(xhr, status, error) {
                    // Manejar el error
                    alert('Error al agregar producto al carrito.');
                }
            });
        });
    });
         #}

    </script>
{% endblock %}
