<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shop{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/favicon.svg')}}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{asset('css/LineIcons.3.0.css') }}"/>
            <link rel="stylesheet" href="{{asset('css/tiny-slider.css') }}"/>
            <link rel="stylesheet" href="{{asset('css/glightbox.min.css') }}"/>
            <link rel="stylesheet" href="{{asset('css/main1.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /End Preloader -->

        <!-- Start Header Area -->
        <header class="header navbar-area">
            <!-- Start Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="top-left">
                                <ul class="menu-top-link">
                                    <li><a href="#"><i class="lni lni-phone"></i> +021-95-51-84</a></li>
                                    <li><a href="#"><i class="lni lni-envelope"></i> email@email.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="top-middle">
                                <ul class="useful-links">
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="top-end">
                                <div class="user">
                                    <i class="lni lni-user"></i>
                                    Hola
                                </div>
                                <ul class="user-login">
                                    <li>
                                        <a href="Login.html">Iniciar sesión</a>
                                    </li>
                                    <li>
                                        <a href="Login.html">Registro</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
            
            <!-- Start Header Middle -->
            <div class="header-middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-3 col-7">
                            <!-- Start Header Logo -->
                            <a class="navbar-brand" href="index.html">
                                <img src="{{asset('images/logo/logo copia.png')}}" alt="Logo" height="100">
                            </a>
                            <!-- End Header Logo -->
                        </div>
                        <div class="col-lg-5 col-md-2 col-5">
                            <div class="middle-right-area">
                                <div class="nav-hotline">
                                    <i class="lni lni-phone"></i>
                                    <h3>Linea directa:
                                        <span>(+100) 123 456 7890</span>
                                    </h3>
                                </div>
                                <div class="navbar-cart">
                                    <div class="wishlist">
                                        <a href="">
                                            <i class="lni lni-heart"></i>
                                            <span class="total-items">1</span>
                                        </a>
                                    </div>
                                    <div class="cart-items">
                                        <a href="" class="main-btn">
                                            <i class="lni lni-cart"></i>
                                            <span class="total-items">2</span>
                                        </a>
                                        <!-- Shopping Item -->
                                        <div class="shopping-item">
                                            <div class="dropdown-cart-header">
                                                <span>2 Articulos</span>
                                                <a href="product-details.html">Ver Carrito</a>
                                            </div>
                                            <ul class="shopping-list">
                                                <li>
                                                    <a href="" class="remove" title="Remove this item"><i
                                                            class="lni lni-close"></i></a>
                                                    <div class="cart-img-head">
                                                        <a class="cart-img" href="product-details.html"><img
                                                                src="{{asset('images/header/cart-items/item1.jpg')}}" alt="#"></a>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="product-details.html">
                                                                Apple Watch Series 6</a></h4>
                                                        <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="bottom">
                                                <div class="total">
                                                    <span>Total</span>
                                                    <span class="total-amount">$134.00</span>
                                                </div>
                                                <div class="button">
                                                    <a href="checkout.html" class="btn animate">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ End Shopping Item -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Middle -->
            <!-- Start Header Bottom -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="nav-inner">
                            <!-- Start Navbar -->
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a href="{{path('app_inicio')}}" class="active" aria-label="Toggle navigation">Inicio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{path('app_nosotros')}}" aria-label="Toggle navigation">Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{path('app_tienda')}}" aria-label="Toggle navigation">Tienda</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{path('app_contactanos')}}" aria-label="Toggle navigation">Contactanos</a>
                                        </li>
                                    </ul>
                                </div> <!-- navbar collapse -->
                            </nav>
                            <!-- End Navbar -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Nav Social -->
                        <div class="nav-social">
                            <h5 class="title">Siganos:</h5>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=61557712883795" target = "_blank"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/smartfingers12_/" target = "_blank"><i class="lni lni-instagram-filled"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@smartfingers12_?is_from_webapp=1&sender_device=pc" target = "_blank"><i class="lni lni-tiktok"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Nav Social -->
                    </div>
                </div>
            </div>
            <!-- End Header Bottom -->
        </header>
        <!-- End Header Area -->
        {% endblock %}
        {% block footer %}
            <!-- Start Shipping Info -->
        <section class="shipping-info">
            <div class="container">
                <ul>
                    <!-- Free Shipping -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-delivery"></i>
                        </div>
                        <div class="media-body">
                            <h5>Envio gratis</h5>
                            <span>En pedidos superiores a $99</span>
                        </div>
                    </li>
                    <!-- Money Return -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-support"></i>
                        </div>
                        <div class="media-body">
                            <h5>Soporte 24 horas al dia, 7 dias a la semana.</h5>
                            <span>Chat en vivo o llamada.</span>
                        </div>
                    </li>
                    <!-- Support 24/7 -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-credit-cards"></i>
                        </div>
                        <div class="media-body">
                            <h5>Pago en linea.</h5>
                            <span>Servicios de pago seguro.</span>
                        </div>
                    </li>
                    <!-- Safe Payment -->
                    <li>
                        <div class="media-icon">
                            <i class="lni lni-reload"></i>
                        </div>
                        <div class="media-body">
                            <h5>Facil devolucion.</h5>
                            <span>Compras sin problemas.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End Shipping Info -->

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <!-- <img src="assets/images/logo/logo.svg" alt="#"> -->
                                        <h3><span style="color: #56A8E4;">Smart</span> Fingers</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12">
                                <div class="footer-newsletter">
                                    {# <h4 class="title">
                                        Subscribete a nuestro boletin
                                        <span>Obtenga toda la informacion mas reciente, ventas y ofertas.</span>
                                    </h4> #}
                                    {# <div class="newsletter-form-head">
                                        <form action="#" method="get" target="_blank" class="newsletter-form">
                                            <input name="EMAIL" placeholder="Email address here..." type="email">
                                            <div class="button">
                                                <button class="btn">Subscribe<span class="dir-part"></span></button>
                                            </div>
                                        </form>
                                    </div> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->
            <!-- Start Footer Middle -->
            <div class="footer-middle">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer f-contact">
                                    <h3>Ponganse en contacto con nosotros</h3>
                                    <p class="phone">Telefono: +1 (900) 33 169 7720</p>
                                    <ul>
                                        <li><span>Lunes - Viernes: </span> 9.00 am - 8.00 pm</li>
                                        <li><span>Sabado: </span> 10.00 am - 6.00 pm</li>
                                    </ul>
                                    <p class="mail">
                                        <a href="mailto:">correo@gmail.com</a>
                                    </p>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Enlaces</h3>
                                    <ul>
                                        <li><a href="{{path('app_inicio')}}">Inicio</a></li>
                                        <li><a href="{{path('app_nosotros')}}">Nosotros</a></li>
                                        <li><a href="{{path('app_contactanos')}}">Contactanos</a></li>
                                        <li><a href="{{path('app_tienda')}}">Tienda</a></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <!-- Single Widget -->
                                <div class="single-footer f-link">
                                    <h3>Mas sobre el producto</h3>
                                    <ul>
                                        <li><p>Smart Fingers garantiza que el producto estará libre de defectos de fabricación y mano de obra durante un periodo de un (1) año a partir de la fecha de compra original.</p></li>
                                        <!-- <li><a href="">Duracion de la garantia:</a></li>
                                        <li><a href="">Smartphones & Tablets</a></li>
                                        <li><a href="">TV, Video & Audio</a></li>
                                        <li><a href="">Cameras, Photo & Video</a></li>
                                        <li><a href="">Headphones</a></li> -->
                                        <li><p>Esta garantia cubre defectos de fabricacion y funcionamiento relacionado con la pulsera.</p></li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Middle -->
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner-content">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-12">
                                <div class="payment-gateway">
                                    <span>Aceptamos:</span>
                                    <img src="{{asset('images/footer/credit-cards-footer.png')}}" alt="#">
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="copyright">
                                    <p>Diseñado y desarrollado por<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank">Smart Fingers</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <ul class="socila">
                                    <li>
                                        <span>Siga con nosotros:</span>
                                    </li>
                                    <li><a href=""><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href=""><i class="lni lni-tiktok"></i></a></li>
                                    <li><a href=""><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </footer>
        <!--/ End Footer Area -->

        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top">
            <i class="lni lni-chevron-up"></i>
        </a>
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/bootstrap.min.js') }}"></script>
            <script src="{{asset('js/tiny-slider.js') }}"></script>
            <script src="{{asset('js/gligthbox.min.js') }}"></script>
            <script src="{{asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
